@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Opens Sans", sans-serif;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #5a616b,
    #47484f,
    #333035,
    #1e1b1d,
    #000000
  );
}
